{% extends 'base.html' %}

{% block content %}
	<div class="goal">
	<marquee behavior="scroll"direction="left"scrollamount:"100"><h1 id="goal"><b>GOALS</b></h1></marquee>
	<h2>GOALS</h2>
<p><b>	What are your internship goals?</b></p>
<p>Internship goals are the skills and<br>
 insight you want to gain through your experience.<br>
 You should set these when you first begin your internship so you know <br>
 what you want to accomplish and can make sure you are actively working toward it. <br>
 You might decide your objectives on your own or together with your supervisor. <br>
 These goals provide evidence of what you learned so you can use it to your advantage when searching for a new job.</p>



<p><b>How to create internship goals</b></p>
<p>Here are several steps to consider when you create your internship goals:</p>
<ul>
<li> Define what you are passionate about</li>
 <li>Think about the overall goal of your internship</li>
<li> Set measurable goals</li>
<li> Write your goals down</li>

<p><b>1. Define what you are passionate about</b></p>
<p>When you are evaluating what internship outcomes you hope to achieve,<br> 
it helps to see what areas you would like to learn more about. <br>
For example, if you are interested in learning more about software applications companies use within your field,
<br> you may set a goal to be proficient with a particular program the company uses by the time you finish your internship.<br> 
When you set objectives that you are enthusiastic about, you will feel more motivated to work toward them.</p>

<p><b>2. Think about the overall goal of your internship</b></p>
When you start a new internship at a company, you can stay
 focused by remembering what the overall purpose of the internship is. If you are in school to be a veterinarian, you could set an internship goal to have a better understanding of a veterinarian’s daily scope of responsibility. By the time you finish your time with the company, you should know how a normal day goes, what duties a veterinarian has and any extra training you may need. This allows you to assess whether you have any questions you would like clarification on. The sooner you ask questions in your internship, the more quickly you will learn.



<p><b>3. Set measurable goals</b></p>
<p>The first step of creating internship goals and objectives is to define them and create ways for <br>
measuring your progress. When you use specific numbers to work toward, you have a better chance of achieving your goals.<br>
 For example, you might want to deliver 10 different presentations to your manager by the end of the quarter.<br>
 You could go a step further by saying you want them to all be 20 minutes long. <br>
 These are two goals you can work toward during the quarter.<br>
To ensure you meet your quarterly goal,<br>
 it is helpful to create a schedule of when you will complete these tasks.<br>
 You could say that you will give a presentation for the next 10 Fridays to make sure they get done.<br> 
 If you share this with your supervisor, you will have another reason to stay accountable</p>

<p><b>4. Write down your goals</b></p>
<p>Writing out your internship goals is vital to
 accomplishing them. It will help you remember them if you put them in a place you see regularly.<br>
 You can write them on sticky notes or a whiteboard by your desk to remind yourself what you are working toward.<br>
 As you complete each internship goal, you can experience achievement by crossing it off before
 deciding which of your remaining goals you would like to focus on next.</p>
	
	<hr>
	</div>
{%endblock%}