{% extends 'base.html' %}

{% block content %}
	<div class="obj">
	<marquee behavior="scroll"direction="left"scrollamount:"100"><h1><b>OBJECTIVES</b></h1></marquee>
	<h2>OBJECTIVES</h2>
	<p>As with any other commercial business, 
	information technology companies have short-term <br>and long-term financial objectives that include survival,
	profit maximization, sales and customer service, as well as economic growth.<br>
Information technology helps business improve the processes of business it drives revenue growth,
 helps them achieve cost efficiency and more importantly,<br> ensures they increase revenue growth 
 while maintaining a competitive edge in the market place.</p></a>
 <hr>
 </div>
{% endblock %}