{% extends 'base.html' %}

{% block content %}
	<div class="require">
	<marquee behavior="scroll"direction="left"scrollamount:"100"><h1><b>REQUIREMENTS</b></h1></marquee>
	<h2><b>REQUIREMENTS</b></h2>
	<h2>The main types of requirements are:</h2>
	<ul>
<li>Functional Requirements:In software engineering,
 a functional requirement defines a system or its component.<br> ...
 It can be a calculation, data manipulation, business process,<br>
 user ... that were mentioned in the functional requirement of that application ...</li>
<li>Performance Requirements.</li>
<li>System Technical Requirements.</li>
<li>Specifications.</li>
</ul>
<p>Requirements convey the expectations of users from the software
<br>. ... After requirement specifications are developed, the requirements mentioned in this document are validated.
<br> ... Should comply business rules and administrative functions.</p>

<hr>
</div>
{% endblock %}