
input[type=text], input[type=password],select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


.container {
 margin-left:500px;
 margin-right:500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding:50px;

}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;

}
.containersignin{
	padding:1px;
	text-align:center;
}